/* =====================================
  style for Header
 ===================================== */

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 4px solid rgb(144, 144, 144);
  background-color: rgb(227, 225, 225);
  position: relative;

  nav.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div a.logo {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
      color: rgb(176, 15, 176);
    }
    div.menu {
      font-size: 40px;
      font-weight: bold;
      color: #202121;
      cursor: pointer;
      display: none;
    }

    div.navLinksWrapper {
      ul.navLinks {
        margin-left: 30px;

        a.navLink {
          font-size: 20px;
          font-weight: 600px;
          margin: 0 12px;

          &:hover {
            color: darkblue;
          }
        }
      }
    }
  }
  div.right {
    display: flex;
    align-items: center;
    gap: 10px;

    .btn {
      cursor: pointer;
      background-color: blue;
      color: white;
      border-radius: 10px;
      font-size: 21px;
      padding: 5px 10px;
      font-weight: 600;
      text-transform: capitalize;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #00008b;
      }

      &:active {
        background-color: #000074;
      }
    }
  }
}

/* width for display */

@media (max-width: 1080px) {
  .logo {
    display: none !important;
  }

  div.menu {
    display: block !important;
  }

  div.navLinksWrapper {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 100;
    background-color: inherit;
    background-color: rgb(227, 225, 225);
    /*  */
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.5s ease-in;
  }
  .navLinks {
    padding-left: 30px;
    padding-bottom: 10px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .navLink {
      padding: 0;
      margin: 12px 0;
    }
  }
}
